<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Additional CSS must be placed after Bootstrap CSS -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans" />
    <link rel="stylesheet" href="css/styles.css" />
    <!-- Additional CSS must be placed after Bootstrap CSS -->
    <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="node_modules/bootstrap-social/bootstrap-social.css" />

    

    <title>Meeto!</title>
</head>

<body>

    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <a class="navbar-brand" href="/">
                <img src="img/meeto.png" class="image-fluid" height="80" alt="" loading="lazy">
              </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Social
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Meeto Timeline</a>
                    <a class="dropdown-item" href="#">Look for a Meeto</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Private Meeto</a>
                  </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#" tabindex="-1">Help</a>
                </li>
              </ul>
              <form class="form-inline">
                <a href="/login" class="btn btn-secondary mr-3">Log In</a>
                <a href="/register" class="btn btn-secondary">Sign Up</a>
              </form>
            </div>
          </nav>


            <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModal" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Login to your Meeto</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                            <div class="form-group row">
                                <label for="userName" class="col-md-3 col-form-label">User Name</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" id="userName" name="userName" placeholder="User Name" />
                                </div>
                                
                            </div>
                            <div class="form-group row">
                                <label for="password" class="col-md-3 col-form-label">Password</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" id="password" name="password" placeholder="Password" />
                                </div>
                            </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Login</button>
                    </div>
                </div>
                </div>
            </div>
        </header>
        
      <div class="container">
        <div class="row row-content mt-5">
          <div class="col-12 mt-5">
            <% if(message) { %>
              <h3 class="mt-4"><%= message %></h3>
          <% } %>
            <% if(messages.error) { %>
              <h3 class="mt-4"><%= messages.error %></h3>
              <% } %>
              <h2 class="mt-4">Sign Up for Meeto!</h2>
              <hr />
          </div>
          <div class="col-md-10">
              <form action="/register" method="POST">
                  <div class="form-group row">
                      <label for="name" class="col-md-2 col-form-label">Name</label>
                      <div class="col-md-10">
                          <input type="text" class="form-control" id="name" name="name" placeholder="Your name" />
                      </div>
                  </div>
                  <div class="form-group row">
                      <label for="email" class="col-md-2 col-form-label">Email</label>
                      <div class="col-md-10">
                          <input type="email" class="form-control" id="email" name="email" placeholder="Email" />
                      </div>
                  </div>
                    <div class="form-group row">
                      <label for="password" class="col-md-2 col-form-label">Password</label>
                      <div class="col-md-10">
                          <input type="password" class="form-control" id="password" name="password" placeholder="Password" />
                      </div>
                  </div>
                  <div class="form-group row">
                      <div class="offset-md-2 col-md-10">
                          <button type="submit" class="btn btn-primary">Sign Up</button>
                      </div>
                  </div>
              </form>
          </div>
     </div>
     </div>
     


        


    <footer class="mt-3">
        <div class="container">
            <div class="row pt-4">
              <div class="col-6 col-sm-4 text-center">
                <img src="img/meeto.png">
            </div>
                <div class="col-6 col-sm-4 text-center">
                    <a class="btn btn-social-icon btn-instagram" href="http://instagram.com/"><i class="fa fa-instagram"></i></a>
                    <a class="btn btn-social-icon btn-facebook" href="http://facebook.com/"><i class="fa fa-facebook"></i></a>
                    <a class="btn btn-social-icon btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter"></i></a>
                    <a class="btn btn-social-icon btn-google" href="http://youtube.com/"><i class="fa fa-youtube"></i></a>
                </div>
                <div class="col-sm-4 text-center">
                  <form class="form-inline">
                    <input class="form-control mr-sm-2" type="text" placeholder="e-mail" aria-label="Submit">
                    <button class="btn btn-success my-2 my-sm-0" type="submit">Submit</button>
                  </form>
                </div>
           </div>
           
        </div>
    </footer>



    <!-- jQuery must come first, then Popper.js, then the Bootstrap JavaScript plugins.-->
    <script src="node_modules/jquery/dist/jquery.slim.min.js"></script>
    <script src="node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

</body>

</html>